.myCounterResult {
  background-color: Purple;
  color: white;
  font-size: 18pt;
  width: 100px;
  margin: 10px auto 20px auto ;
  padding: 5px;
  text-align: center;
  border: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}