<div class="row">
  <div class="col">
    Current Count: {{ count$ | async }}
    <div></div>
    <!-- 
  TODO: 
    Apply a basic bootstrap (v4) layout to the rest
    Layout so that the Increment and Decrement buttons are on the left and the Reset Button is on the far right.
    Layout the New Value textbox with the form caption above the textbox and the Set Value button is below it.
    Use default Bootstrap classes for textboxes, buttons, etc. to make it look prettier.
    
    Fix the counter-facade.service and other state objects to enable the Reset, Set Value, and Load Value buttons to work. 
  -->
    <button class="btn btn-primary m-2" (click)="increment()">Increment</button>

    <button class="btn btn-warning m-2" (click)="decrement()">Decrement</button>

    <button class="btn btn-danger m-2" (click)="reset()">Reset Counter</button>
    <div>
      New Value:
      <input class="" type="number" [formControl]="newValueCtl" />
      <button class="btn btn-warning lg m-2" (click)="newValueClick()">Set Value</button>
    </div>

    <div><button class="btn btn-warning sm m-1" (click)="loadValues()">Load Value</button></div>
  </div>
</div>
